<ul class=" bg-gradient-primary sidebar sidebar-dark ">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MANAGER</div>
    </a>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/Home">Home</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/USER">Tài khoản</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/NHANVIEN">Nhân viên</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/KHACHHANG">Khách hàng</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/MON">Món ăn</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/BAN">Bàn</a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Notset
    </div>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/YEUCAU">Yêu cầu khách hàng</a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Thông kê hóa đơn
    </div>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/HOADONNHAP"> Hóa đơn nhập </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/HOADON"> Hóa đơn khách hàng </a>
    </li>

</ul>