<ul class=" bg-gradient-primary sidebar sidebar-dark ">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MANAGER</div>
    </a>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/Home">Home</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/MANAGER">Tài khoản</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/EMPLOYER">Nhân viên</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/TYPEROOMs">Loại phòng</a>
    </li>

</ul>